In [2]:
library(SparkR)

as <- sparkR.session("local[*]")

# do something to prove it works
df <- as.DataFrame(iris)
head(filter(df, df$Petal_Width > 0.2))

Attaching package: ‘SparkR’

The following objects are masked from ‘package:stats’:

    cov, filter, lag, na.omit, predict, sd, var, window

The following objects are masked from ‘package:base’:

    as.data.frame, colnames, colnames<-, drop, endsWith, intersect,
    rank, rbind, sample, startsWith, subset, summary, transform, union

Spark package found in SPARK_HOME: /usr/local/spark

Launching java with spark-submit command /usr/local/spark/bin/spark-submit   sparkr-shell /tmp/RtmpX0w9i5/backend_port159d3361b4

Warning message in FUN(X[[i]], ...):
“Use Sepal_Length instead of Sepal.Length  as column name”Warning message in FUN(X[[i]], ...):
“Use Sepal_Width instead of Sepal.Width  as column name”Warning message in FUN(X[[i]], ...):
“Use Petal_Length instead of Petal.Length  as column name”Warning message in FUN(X[[i]], ...):
“Use Petal_Width instead of Petal.Width  as column name”

  Sepal_Length Sepal_Width Petal_Length Petal_Width Species
1 5.4          3.9         1.7          0.4         setosa
2 4.6          3.4         1.4          0.3         setosa
3 5.7          4.4         1.5          0.4         setosa
4 5.4          3.9         1.3          0.4         setosa
5 5.1          3.5         1.4          0.3         setosa
6 5.7          3.8         1.7          0.3         setosa

In [4]:
install.packages("data.table")

Installing package into ‘/usr/local/spark-2.2.0-bin-hadoop2.7/R/lib’
(as ‘lib’ is unspecified)

In [5]:
library(data.table)

Attaching package: ‘data.table’

The following objects are masked from ‘package:SparkR’:

    between, first, hour, last, like, minute, month, quarter, second,
    tables, year

In [8]:
myDf <- as.DataFrame(data.table(nom=c("chaaban","mari")))

In [10]:
head(filter(myDf, myDf$nom == "chaaban"))

  nom
1 chaaban

In [11]:
myFilter <- function(aDf){
    aDf$nom == "chaaban"
}
head(filter(myDf, myFilter(myDf)))

  nom
1 chaaban

In [16]:
myFunction <- function(x){
    print(substitute(x))
    print("=")
    print(x)
}
myFunction(112)
myFunction(56*2)

[1] 112
[1] "="
[1] 112
56 * 2
[1] "="
[1] 112